{% extends "MhCmsBundle:Default:modal.html.twig" %}
{% block modal_title %}What Would You Like To Do?{% endblock %}
{% block modal_id %}page-block-menu{% endblock %}
{% block modal_body %}
    <p>
        What would you like to do? You have the below options:
    </p>

    <div class="btn-group">
        <a href="#" class="btn" id="btn-block-add">Add another block</a>
        <a href="#" class="btn" id="btn-block-edit">Edit this block</a>

        <form method="post" id="form-block-destroy">
            <input type="submit" class="btn btn-danger" value="Remove this block" />
        </form>
    </div><!-- btn-group -->
{% endblock %}