<link rel="stylesheet" type="text/css" href="/css/page.stage.css" />

<div class="navbar navbar-inverse" id="builder-nav">
    <div class="navbar-inner">
        <div class="brand">
            {{ stage.page.website.websitename }}
        </div><!-- brand -->
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><a href="#" id="btn-block-add">Add child block</a></li>
                <li><a href="#" id="btn-block-edit">Edit this block</a></li>
                <li><a href="#" id="btn-block-delete">Delete this block</a></li>
            </ul>
        </div><!-- nav-collapse -->
    </div><!-- navbar-inner -->
</div><!-- nav-bar -->